@import url("https://fonts.googleapis.com/css2?family=Abel&family=Maven+Pro&family=Oxygen:wght@300&display=swap");

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: "Abel", sans-serif;
}

.instructions {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 1.3em;
}
